header {
    nav {
        ul {
            list-style: none;

            li {
                a {
                    text-decoration: none;
                    color: inherit;
                    font-family: monospace;
                }
            }
        }
    }
}